<h1>登出成功</h1>
<p class="text-success">兩秒後回到上ㄧ頁</p>

<script type="text/javascript">
	<!--
	setTimeout('returnPage()',2000);
//-->
</script>
<!--<center><button onClick='returnPage()' class='btn btn-primary btn-large'>Return</button></center>-->