<h1>Listing proxies</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @proxies.each do |proxy| %>
      <tr>
        <td><%= link_to 'Show', proxy %></td>
        <td><%= link_to 'Edit', edit_proxy_path(proxy) %></td>
        <td><%= link_to 'Destroy', proxy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Proxy', new_proxy_path %>
