<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><%= link_to "Home", root_path %></li>
    <li class="active"><%= @target.name %></li>
</ul>

<%= render 'comments/header' %>

<%= render 'comments/listview' %>