<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to @target.name, "/#{@target.permalink}/" %></li>
    <li class="active">發表評論</li>
</ul>

<h1>發表評論</h1>

<%= render 'form' %>
