<div class="jumbotron">
	<h1><strong>PlatoForum 頗拉風</strong></h1>
	<p>『頗拉風』是一個頗拉風的議題辯論網站。我們致力於創造一個更加客觀、理性、刺激思考的辯論環境。<a href="/static/about">了解更多</a></p>
	<p><a href="/topic_list">選擇一項議題</a>，立刻加入討論！或者<a data-toggle="modal" href="#modal_new_topic">發起一項新議題</a>！</p>
</div>

<%= render 'topics/listview' %>