<div class="jumbotron">
	<h1><i class="fa fa-comments fa-2x"></i> <strong>PlatoForum</strong></h1>
	<p>「PlatoForum 潑辣婦人」是一個全新概念的議題辯論網站。我們致力於創造一個更加客觀、理性、刺激思考的辯論環境。<a href="/static/about">了解更多</a></p>
	<p><a href="/list">選擇一項議題</a>，立刻加入討論！或者<a data-toggle="modal" href="#modal_new_topic">發起一項新議題</a>！</p>
</div>

<%= render 'topics/listview' %>

<%= render 'topics/modal_new_topic' %>