<div class="jumbotron">
	<h1><strong>PlatoForum 芭樂婦人</strong></h1>
	<p>『芭樂婦人』是一個全新概念的議題辯論網站。我們致力於創造一個更加客觀、理性、刺激思考的辯論環境。</p>
	<p>選擇一項議題，立刻加入討論！</p>
	<p><%= link_to "了解更多", "/static/about", class: 'btn btn-lg btn-info', role: "button"%> <%= link_to "創建議題", new_topic_path, class: 'btn btn-lg btn-primary pull-right', role: "button"%></p>
</div>

<%= render 'topics/listview' %>