<div class="jumbotron">
	<h1>議題清單</h1>
	<p>選擇一項議題，立刻加入討論！</p>
	<p><%= link_to 'New Topic', new_topic_path, class: 'btn btn-large btn-primary', role: "button"%></p>
</div>

<%= render 'topics/listview' %>