    <div class="jumbotron my-jumbo" align="center">
      <h1><span class="text-white"><i class="fa fa-comments fa-2x text-whiter"></i> <strong>PlatoForum<sup>beta</sup></strong></span></h1>
      <p class="text-white"><%= @notification.display_message %></p>
      <p class="text-white"><a href="http://platoforum.herokuapp.com/notification_<%= @notification.id %>" target="_blank">檢視詳情</a></p>
    </div>