   <div class="jumbotron my-jumbo" align="center">
      <h2><i class="fa fa-comments fa-3x text-whiter"></i></h2>
      <br>
      <p class="text-white"><%= @notification.display_message %></p>
      <p class="text-white"><a href="http://platoforum.herokuapp.com/notification_<%= @notification.id %>" target="_blank">檢視詳情</a></p>
    </div>