<h1>關於 <i class="fa fa-comments"></i> PlatoForum</h1>
<p class="text-muted">經過最近一連串的政治事件，台灣開始出現許多不同的聲音，同時也出現了很多對立。我們可以發現，很多對立是起因於對彼此不了解。我們需要一座橋樑，讓不同立場的人可以互相溝通，化解衝突，化解對立。</p>

<p class="text-muted">一直以來，我們仰賴大眾傳播媒體作為中間這座橋樑。但這座橋樑蓋得很奇怪，人從一端走進去，再從另一端走出來的時候，就變得面目全非了！台灣很多媒體都有自己的立場，報導事件的時候也同時在外面包上了一層符合自己立場的包裝。依靠這樣的橋樑，有時反而會造成更多誤解。</p>

<p class="text-muted">另一個溝通管道是像<a href="http://www.facebook.com" target="_blank">Facebook</a>這樣的社群媒體。在這裡你們可以直接溝通彼此的想法。但是你溝通的對象只是你的朋友，範圍不夠廣泛。再者你可能為了維護彼此之間的友情，不敢貿然反駁對方觀點，即使你的想法可能和對方不同。</p>

<p class="text-muted">再一個管道是類似PTT這樣的討論版，在這裡你能同時和更多人交流意見。但是這樣的討論版很容易受到「<a href="http://zh.wikipedia.org/wiki/%E6%B2%89%E9%BB%98%E7%9A%84%E8%9E%BA%E6%97%8B" target="_blank">沈默的螺旋</a>」影響，最後只剩下一種主流聲音，而持主流意見的人更加相信自己的想法就是真理。一個討論版，一種聲音。各種意見的人，各自在自己的場域裡，訴說自己的真理，順便聯手攻擊那些迷途跑進自己「地盤」的可憐蟲。</p>

<p class="text-muted">為了解決上述的問題，我們決心創造一個最適合溝通辯論的平台。它能夠讓各種不同意見的人直接表達自己的想法，互相溝通。在意見的呈現上，我們使用<a href="http://zh.wikipedia.org/wiki/%E8%81%9A%E7%B1%BB%E5%88%86%E6%9E%90" target="_blank">Clustering Algorithm（聚類演算法）</a>，利用使用者對彼此意見支持、反對等資料，將意見自動分成幾個立場，不分尊卑、同時呈現。再利用類似Google <a href="http://zh.wikipedia.org/wiki/PageRank" target="_blank">PageRank（網頁排名）</a>的算法，找出各個立場中的代表性評論。</p>

<p class="text-muted">當你進入一個議題，你會看到針對這個議題的幾種立場，以及他們最具代表性的幾則論述。你可以迅速了解各個立場的論點，我們的平台對想要中途加入討論的人來說就像是「懶人包」，但是是個中立的懶人包，對各立場並無偏廢。</p>

<p class="text-muted">我們提供的是理性討論的平台和工具，是個骨架，接下來就是靠你來填滿它的血肉了。</p>

<p>想知道更多PlatoForum的細節，請看我們的<a href="/cover">介紹網頁</a></p>

