<h1><strong>聯絡資訊</strong></h1>
<p class="text-muted">我們是一群電腦工程師，我們用我們的方式愛台灣。</p>

<p>如果你有什麼疑問或建議，歡迎和我們聯絡。</p>

<p>E-Mail: <a href="mailto:platoforumgroup@gmail.com">PlatoForumGroup@gmail.com</a><br>
Facebook Page: <a href="https://www.facebook.com/PlatoForum">https://www.facebook.com/PlatoForum</a><br>
Website Address: <a href="http://www.platoforum.info">http://www.platoforum.info</a></p>