<h1><strong>聯絡資訊</strong></h1>
<p class="text-danger"><i class="fa fa-female"></i><i class="fa fa-female"></i><i class="fa fa-female"></i>限女<i class="fa fa-female fa-spin"></i><i class="fa fa-female"></i><i class="fa fa-female"></i></p>
<p>Facebook Page: <a href="https://www.facebook.com/PlatoForum">https://www.facebook.com/PlatoForum</a></p>

<p>Website Address: <a href="http://www.platoforum.info">http://www.platoforum.info</a></p>