<% if @action == "like" %>
	<a class="label label-success" href="<%= neutral_comment_path(@c) %>" data-remote="true"><i class="fa fa-check fa-fw"></i> <%= @c.likes.count %></a>
<% else %>
	<a class="label label-success" href="<%= like_comment_path(@c) %>" data-remote="true"><i class="fa fa-thumbs-up fa-fw"></i> <%= @c.likes.count %></a>
<% end %>