/* theme */

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: vertical;

  width: 100%;
}

/* bootstrap styling */

.table-hover > tbody > tr:hover > td {
    cursor: pointer;
}

.panel-success > a > .panel-heading {
  color: #ffffff;
    background-color: #28b62c;
    border-color: transparent;
}

.panel-success > a > .panel-heading:hover, .panel-success > a > .panel-heading:focus {
    background-color: #38c63c;
}

.panel-warning > a > .panel-heading {
  color: #ffffff;
  background-color: #ff851b;
  border-color: transparent;
}

.panel-warning > a > .panel-heading:hover, .panel-warning > a > .panel-heading:focus {
    background-color: #ff952b;
}
.panel-danger > a > .panel-heading {
  color: #ffffff;
  background-color: #ff4136;
  border-color: transparent;
}

.panel-danger > a > .panel-heading:hover, .panel-danger > a > .panel-heading:focus {
    background-color: #ff5146;
}

.panel-primary > a > .panel-heading {
  color: #ffffff;
  background-color: #158cba;
  border-color: transparent;
}

.panel-primary > a > .panel-heading:hover, .panel-primary > a > .panel-heading:focus {
  background-color: #259cca;
}

.panel > a:hover, .pavel > a:focus{
  text-decoration:none;
}

a.list-group-item.active:hover, a.list-group-item.active:focus
{
  background-color: #259cca;
}
