<footer class="footer">
  <div class="container">
  <small>
    <a href="http://platoforum.heroku.com">PlatoForum</a>
    by PlatoForum Group
  </small>
  <nav>
    <ul>
      <li><%= link_to "[Prvacy Policy]", "/static/privacy_policy" %></li>
      <li><%= link_to "[About]",   "/static/about" %></li>
      <li><%= link_to "[Contact]", "/static/contact" %></li>
    </ul>
  </nav>
  <div>
</footer>