<div class="bs-component">
  <div class="modal fade" id="modal_agreement">
    <div class="modal-dialog">
      <div class="modal-content">

            <div class="modal-header">
              <h1>服務條款</h1>
              <p>非常歡迎您光臨「PlatoForum 潑辣瘋人」（以下簡稱本站），在你正式使用本站前，請先詳閱本使用者服務條款（以下稱為「本服務條款」）本條款之目的，在於盡力保護會員在使用本站服務時的權益，並確認本站與會員之間的權利義務關係。：</p>
            </div>
            
            <div class="modal-body">
              <h4>一、接受使用條款</h4>
              <p class="text-muted">
								當您使用本服務條款時，即表示您已閱讀、瞭解並同意本服務條款之所有內容與約定，並完全接受本服務現有與未來衍生的服務項目及內容。<br>
								本站有權於任何時間基於需要而修訂或變更本服務條款之內容，並取代先前的內容，修改後之服務條款將會公告於本站，恕不另行通知您，建議您隨時注意該等修改或變更。<br>
								若您於任何修改或變更之後繼續使用本服務，即視為您已經閱讀、瞭解且同意接受修改或變更後之服務條款內容。<br>
								若您不同意上述服務條款修改變更方式，或不接受本服務條款任一條款，您應立即停止使用本服務。<br>
								如果您未滿二十歲，除應符合上述規定外，並應於您的家長(或監護人)<br>閱讀、瞭解並同意本服務條款之所有內容及其後修改變更，才可以註冊會員、使用或繼續使用本服務。
							</p>
              <br>
              <h4>二、同意事項</h4>
              <p class="text-muted">
              	您同意不會利用本站進行<span class="text-danger">誹謗、侮辱、威脅、猥褻</span>或<span class="text-danger">散佈不實、違反道德與公共秩序之文字、圖片或任何形式的檔案</span>於本站。<br>您同意所登錄或留存之個人資料，本站可以在必要合理範圍或有助於本站服務之提供，蒐集、處理、保存、傳遞及使用。<br>
              	您同意不冒用他人名義使用本站。<br>
              	您同意不參與任何非法目的或以任何非法方式使用本站，並遵守當地相關法規及網際網路使用規範。<br>
              	您同意不傳播任何電腦病毒或破壞性程式碼。<br>
              	您同意不使用惡意方式進行修改、刪除、干擾本站。<br>
              	您同意不傳送任何未經許可的商業資料或廣告給本站之其他使用者。<br>您同意遵守智慧財產權，不任意使用未經授權的圖片或任何形式的檔案於本站。<br> 您同意不逕自使用、修改、重製、散布、發行、進行還原工程、解編或反向組譯本站上的程式以及所有內容，包括但不限於著作、圖片、檔案、網站架構、網頁設計等，均由本站或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權與專有技術等。<br>
              	創作者擁有著作之智慧財產權且擔保著作本身無違反著作權法及其它法規。未得創作者許可，您不得有修改、重製、轉貼之相關情事於營利行為。若您有涉及侵權之情事，本站有權停止您使用本站，並取消會員資格。
              </p>
              <br>
              <h4>三、違反本服務條款行為之處置</h4>
              <p class="text-muted">若您違反上述同意事項，本站有權終止或限制您使用本服務，並刪除違規的發文。</p>
              <br>
              <h4>四、免責聲明</h4>
              <p class="text-muted">
              	當本站發生系統中斷，包括但不限於保養、施工、升級、故障或天災不可抗力之因素，也許會造成您的資料遺失、使用不便或其他損失，本站將不付任何賠償與責任。請您使用本站時，自行採取備份措施。
              </p>
            </div>

            <div class="modal-footer">
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <a href="#" class="btn btn-primary" id="fb_login_confirmed"><i class="fa fa-check"></i> 同意並登入</a>
                <button href="#" data-dismiss="modal" class="btn btn-default">返回</button>
              </div>
            </div>
            </div>
      </div>
    </div>
  </div>
</div>

<script>
$( "#fb_login_confirmed" ).click(function() {
  $("#modal_agreement").modal("hide");
  $.cookie('registered', 'YES', { expires: 365, path: '/' });
  window.location.replace("/signin");
});

</script>